#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.table th {
  background-color: #0ac804;
  color: #fff;
  padding: 9px 0;
}
.table {
  border: 1px solid;
}
.table td {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}
.table tr:nth-child(odd) {
  background-color: #eee;
}

.btnside {
  background-color: #0ac804;
  border-radius: 5px;
  padding: 5px 36px;
  color: #fff;
  font-weight: 600;
}
.btn {
  background-color: #0ac804;
  color: #fff;
  border-radius: 5px;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
  padding: 20px 0;
  align-items: center;
}
.flagbody {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	flex: 1;
	overflow: scroll;
	justify-content: space-between;
}
.flagwrp {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.card {
	width: 150px;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	height: 200px;
}
.cardimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.countryname {
  margin: 0;
  font-size: 18px;
}
.search input {
  line-height: 27px;
  width: 376px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
.mainwrap {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
